.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.title {
  font-weight: 700;
  font-size: 14px;
  align-self: flex-start;
}

.captureButton {
  width: 160px;
}
