.mainContainer {
  display: flex;
  flex-direction: column;
}

.row {
  display: grid;
  margin-top: 25px;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
}

.portContainer {
  display: grid;
  grid-template-columns: 120px 1fr;
  grid-column-gap: 20px;
}

.actions {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 35px;
  padding: 15px 0;
  gap: 30px;
}
