.cardContent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.linkedTextBlocks {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-bottom: 20px;
  border-bottom: 1px solid #D9D9D9
}
