@import 'src/styles/mixins.module.scss';

.topFilters {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--filters-gap);

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }
}

.bottomFilters {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--filters-gap);

  @include media-breakpoint-down(md) {
    display: flex;
    flex-direction: column;
  }
}
