.assignUsersContainer {
  display: flex;
  flex-direction: column;
  margin-top: 5px;
}

.assignedUsersContainer {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}

.usersList {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 25px;
}
