.toolbar {
  justify-content: space-around;
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.08);
  background: #ffffff;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  position: absolute;
  left: -32px;
  top: 50%;
  transform: translateY(-50%);
  width: 64px;
  z-index: 10;
}

:global {
  .mobile-misc-tools-container {
    display: none !important;
  }

  .Stack.Stack_horizontal {
    display: none !important;
  }

  .App-toolbar {
    display: none !important;
  }

  .HintViewer {
    display: none !important;
  }
}
